<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tilemap Generator Playground</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Procedural Tilemap Generator</h1>
    <form method="get" action="/">
      <label
        >Width: <input name="width" value="{{ width }}" type="number" min="1"
      /></label>
      <label
        >Height:
        <input name="height" value="{{ height }}" type="number" min="1"
      /></label>
      <label>Biome: <input name="biome" value="{{ biome }}" /></label>
      <label
        >Tile Size:
        <input name="tile_size" value="{{ tile_size }}" type="number" min="1"
      /></label>
      <button type="submit">Generate</button>
    </form>

    {% if map_generated %}
    <div class="preview">
      <h2>Preview</h2>
      <img
        src="/generate_map/png?width={{width}}&height={{height}}&biome={{biome}}&tile_size={{tile_size}}"
        alt="Tilemap preview"
      />
      <div class="downloads">
        <a
          href="/generate_map/svg?width={{width}}&height={{height}}&biome={{biome}}&tile_size={{tile_size}}"
          download="map.svg"
          >SVG</a
        >
        <a
          href="/generate_map/tmx?width={{width}}&height={{height}}&biome={{biome}}&tile_size={{tile_size}}"
          download="map.tmx"
          >TMX</a
        >
      </div>
    </div>
    {% endif %}
  </body>
</html>
